body {
    background: tomato;
    overflow: hidden;
    display: block;
}

#navigation {
    background: #444;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    min-height: 500px;
}
